.swal2-close:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.swal2-confirm:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.swal2-confirm {
  background: $primary !important;
} 