@import "leaflet/dist/leaflet.css";

.leaflet-container {
    position: relative;
    z-index: 8;

    height: 50vh;

    border-radius: 5px;
}

.leaflet-control-zoom > a {
    color: $primary !important;

    text-decoration: none !important;
}

.leaflet-marker-icon {
    transition: transform .75s ease-out;
}  

.real-time-marker {
    width: 20px;
    height: 20px;

    background-color: $primary;

    border: 2px solid $white;
    border-radius: 50%;

    box-shadow: 0 0 8px $primary;

    animation: pulse 2s infinite;
}
  
@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}

.map-card {
    color: $primary !important;

    background-color: $white !important;
}

.leaflet-control-attribution { 
    display: none; 
}
