@import "@/ui/variables";

#authentication {
  height: 100vh;
  height: 100dvh;

  overflow: hidden;

  #authentication-right {
    height: 100%;

    background: $page-auth-right-bg;
  }

  #authentication-left {
    padding: 1rem 5rem;

    .authentication-logo {
      margin-bottom: 1rem;

      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    @media screen and (max-width: 576px) {
      padding-inline: 3rem;
    }
  }
}

html[data-bs-theme="dark"] {
  @import "@/ui/themes/dark/variables-dark";

  #authentication-right {
    background: $page-auth-right-bg;
  }
}

.password-form-group input {
  padding-right: 3.2rem !important;
}

.form-control-icon-right {
  padding-right: 1rem !important;
  
  position: absolute;
  right: 0 !important;
  left: auto !important;
}

.form-password.form-control.is-invalid {
  background-position: right calc(2.6em + 0.1875rem) center !important;
}
